/*******************Banner Portion by Kashif (Start)******************/

#BannerPicture {
    height: 40vw;
    width: 100%;
    position: absolute;
}

#DownArrow {
    height: 7vw;
    position: relative;
    bottom: -28vw;
    left: 4em;
}

.welcomeText,
.welcomeText1 {
    position: absolute;
    top: 1.1em;
    left: 5.5vw;
    font-family: Consolas;
    font-size: 4.1vw;
    color: #ffffff;
    font-weight: bold;
}

.welcomeText1 {
    top: 2.3em;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

@media screen and (max-width:600px) {
    #BannerPicture {
        height: 47vw;
        width: 100%;
    }
    .welcomeText,
    .welcomeText1 {
        position: absolute;
        top: 0.9em;
        left: 5vw;
        font-family: Consolas;
        font-size: 5vw;
        color: #ffffff;
        font-weight: bold;
    }
    .welcomeText1 {
        top: 2.1em;
    }
    #DownArrow {
        height: 10vw;
        position: relative;
        bottom: -30vw;
        left: 2.5em;
        visibility: hidden;
    }
}


/*******************Banner Portion by Kashif (End)******************/
